body {
	background-color: black;
	font-family: "Monaco", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #92989C;
	padding: 10px;
  max-width: 1100px;
}

* {
    -webkit-user-select: none;
    user-select: none;
}

*[contenteditable=true] {
    -webkit-user-select: text;
    user-select: text;
}

td {
  vertical-align: top;
}

.archive {
	color: #92989C;
}

.arrow {
	color: #70F583;
	margin-right: 15px;
}

.directory {
	color: #8DF5E7;
	margin-right: 10px;
}

.commit {
	color: #E4DC6B;
	margin-right: 10px;
}

.paragraph {
	color: #92989C;
	margin-right: 10px;
	border: 0;
	background: inherit;
	font-size: inherit;
	font-family: inherit;
	display: inline;
}

.paragraph:focus {
	outline: none;
}

.text {
	color: #92989C;
	margin-right: 10px;
	background: inherit;
	font-size: inherit;
	font-family: inherit;
}

a {
	color: #706EE1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

br {
	display: none;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

h3, .heading {
	color: #B8565F;
}

.entry {
	margin-bottom: 5px;
}

.highlight {
  color: #E4DC6B;
}

// digital portfolio
.project {
  width: 30%;
  overflow: auto;
  float: left;
  margin-right: 5%;
  margin-bottom: 15px;
}

@media screen and (min-width: 868px) {
  .project {
    width: 30%;
    overflow: auto;
    float: left;
    margin-right: 5%;
    margin-bottom: 15px;
  }

  .project:nth-child(3n+1) {
    clear: left;
  }

  .project:nth-child(3n+3) {
    clear: right;
    margin-right: 0;
  }
}

.projimg, .project img {
  width: 100%;
}

.projectinfo {
  width: 100%;
  margin-top: 5px;
  line-height: 1.4em;
  font-weight: 300;
}

.project-title {
  width: 100%;
}

.project-title h3 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.which-pub {
  color: #706EE1;
}

#digital {
  font-size: 1em;
}

@media screen and (max-width: 867px) {
  .project {
    width: calc(95%/2);
    margin-bottom: 20px;
  }
  .project:nth-child(2n+1) {
    clear: left;
    margin-right: calc(5%/1);
  }

  .project:nth-child(2n) {
    clear: right;
    margin-right: 0;
  }
}

@media screen and (max-width: 520px) {
  .project {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}