body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #4c4e4d;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #e9e7e8;
}

.bg {
    background-color: #f1f3f2;
}

.bg2 {
  background-color: #e9e7e8;
}

p {
  font-size: 16px;
  line-height: 16px;
}

a {
  color: #4f7177;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 4em;
  font-weight: 900;
  line-height: 1em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 1.5em;
}

.bar {
  height: 7px;
  background-color: #ffeb00;
  padding-top: 0;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.bold {
  font-weight: 900;
  margin-top: 30px;
}

a.bold:hover {
  text-decoration: none;
}

#header {
  padding-top: 20px;
}

.story {
  width: 100%;
  margin-bottom:10px;
  display: inline-block;
  height: auto;
}

.light {
  font-weight: 300;
}

#resume {
  border: 3px solid black;
  background-color: white;
}

#photocred {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-right: 2em;
  margin-left: 2em;
}

.writing {
  font-size: 1.3em;
  line-height: 200%;
  font-weight: 300;
}

p.writing {
  line-height: 2;
}

.mediabreak {
  width: 53%; 
  margin-left: 6%; 
  float: left; 
  vertical-align: middle;
}

.medias {
  width: 40%;
  float: left;
}

.override {
  text-decoration: none !important;
}

@media screen and (max-width: 1306px) {
  .mediabreak {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .medias {
   width: 100%;
   text-align: center;
  }
  .smaller {
    margin-bottom: 0px;
  }
}

#about {
  width: 72%;
  margin: 0 auto;
  float: left;
  padding-right: 3%;
}

#clickme {
  width: 25%;
  float: left;
}

@media screen and (max-width: 1111px) {
  #about {
    width: 72%;
    margin: 0 auto;
    float: left;
    padding-right: 3%;
  }

  #clickme {
    width: 25%;
    float: left;
  }
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  #about {
    width: 100%;
    margin: 0 auto;
    float: left;
    padding-right: 3%;
  }

  #clickme {
    width: 100%;
    float: left;
  }
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 436px) {
  .move {
    float: left;
  }
}

@media screen and (max-width: 815px) {
  .twitter {
    float: left;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}